@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>A text Messages has been sent to you with your packages details.</h1>
<h2>Thank you for Subscribing!</h2>