﻿

@{
    ViewData["Title"] = "Index";

}


<style>
    #main-container {
        margin: 0;
        position: absolute;
        top: 50%;
    }

    .question {
        display: none;
    }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }
</style>

<p id="YourPackage" style="display:none">Here is your reccomended Style Package based off of your style interests</p>

<div class="container text-center align-middle hide" id="success">
    <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-success" id="subscriberName"></div>
        <div class="card-body text-success">
            <span><strong>Style Name: </strong></span><h5 class="card-title" id="styleName"></h5>
            <p class="card-text"><strong>Package Price: </strong><span><strong id="packagePrice"></strong></span></p>
            <p class="card-text"><strong>Delivery Frequency: </strong> <span id="deliveryFreq"></span></p>
            <span><strong>Arrival Date: </strong></span><p id="arrivalDate"></p>
        </div>
        <div class="card-footer bg-transparent border-success">
            <button class="btn btn-primary">
                <a href="/Styles/ConfirmPackage">
                    Confirm
                </a>
            </button>
        </div>
    </div>

</div>

<div class="container text-center align-middle border border-primary" id="main-container">
    <div class="questions-container">
        <div id="question1" class="question show">
            <p>Are you active on a daily basis?</p>
            Yes <input type="checkbox" value="Yes" id="sporty">
            No <input type="checkbox" value="No" id="sporty">

        </div>

        <div id="question2" class="question">

            <p> Do you like 1960’s hippie aesthetic and festival culture?</p>

            Yes <input type="checkbox" value="Yes" id="boho">
            No <input type="checkbox" value="No" id="boho">

        </div>

        <div id="question3" class="question">
            <p> Do you need your Clothes to widthstand hardfalls to the ground and last long?</p>

            Yes <input type="checkbox" value="Yes" id="skater">
            No <input type="checkbox" value="No" id="skater">

        </div>

        <div id="question4" class="question">
            <p>Do you like to look presentable for the office?</p>

            Yes <input type="checkbox" value="Yes" id="professional">
            No <input type="checkbox" value="No" id="professional">

        </div>

        <div id="question5" class="question">
            <p>Will you be at the beach or pool?</p>

            Yes <input type="checkbox" value="Yes" id="swim-wear">
            No <input type="checkbox" value="No" id="swim-wear">
        </div>

        <div id="question6" class="question">

            <p>Do you like Pop-Culture Merchandise pertaining to certain bands or Movies?</p>
            Yes <input type="checkbox" value="Yes" id="street-wear">
            No <input type="checkbox" value="No" id="street-wear">


        </div>


        <div id="question7" class="question">
            <p>Do you like clothes that you use to lounge around?</p>

            Yes <input type="checkbox" value="Yes" id="lounge-wear">
            No <input type="checkbox" value="No" id="lounge-wear">



        </div>
    </div>

    <div class="buttons">
        <button id="previous" class="hide">Previous</button>
        <button class="btn btn-primary btn-sm m-2" id="next">Next</button>
    </div>
    <div>
        <button class="btn btn-danger btn-sm m-2" id="submit" style="display:none">Submit Answers</button>
    </div>
    <span class="text-danger" id="error" style="display: none;">
        This is the last question.
    </span>
</div>

<script>

    //Pushing all the values in array

    const nextButton = document.querySelector("#next");
    let answers = [];
    nextButton.addEventListener('click', function (e) {



        currentQuestion = document.querySelector(".show");
        //checikin here if the checked chckbox has specifi id, if its, that specifid style name is being added to answers array.
        if (currentQuestion.id === "question1") {
            if (document.querySelector("#sporty").checked) {
                answers.push("sporty");
            }
        }
        if (currentQuestion.id === "question2") {
            if (document.querySelector("#boho").checked) {
                answers.push("boho");
            }
        }
        if (currentQuestion.id === "question3") {
            if (document.querySelector("#skater").checked) {
                answers.push("skater");
            }
        }
        if (currentQuestion.id === "question4") {
            if (document.querySelector("#professional").checked)
                answers.push("professional");

        }
        if (currentQuestion.id === "question5") {
            if (document.querySelector("#swim-wear").checked)
                answers.push("swim-wear");
        }
        if (currentQuestion.id === "question6") {
            if (document.querySelector("#street-wear").checked)
                answers.push("street-wear");
        }

        if (currentQuestion.id === 'question7') {

            if (document.querySelector("#lounge-wear").checked) {
                answers.push("lounge-wear");
            }
            //if questoin is the last quesiton, we showing an error just to stop User to go furhter becasue there is nothing futher.
            document.querySelector("#error").style.display = "block";
            document.querySelector("#submit").style.display = "block";
            console.log(answers);
            return;
        }


        nextSibling = currentQuestion.nextElementSibling;
        currentQuestion.classList.remove('show');


        nextSibling.classList.add('show');

        //Sending Data to Controller


    });

    //When clicking on Submit button, we want to send the selected answers to Server on Styles/Answwers url for data to be saved for the user.

    const submit = document.querySelector("#submit");
    submit.addEventListener('click', function (e) {
        //var jsonArray = JSON.parse(JSON.stringify(answers));

        //parsing array into JSON Object here

        let ans = {};

        for (let i = 0; i < answers.length; i++) {
            ans['answer' + i] = answers[i];
        }

        let answer = JSON.stringify(ans);


        $.ajax(
            {
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'JSON',
                url: '/Styles/Answers',
                data: answer,
                success:
                    function (response) {
                        // Generate HTML table.()   
                        //In the response, we are getting a singel object from the server gettting its properties to be shown in the doument.
                       //Get the element with the ID of subscriberName, put the first name of the subscriber in html
                        document.querySelector("#subscriberName").innerHTML = response.firstName;
                        //Get the element with the ID pf styleName
                        document.querySelector("#styleName").innerHTML = response.styleName;
                        //Get the element with the ID pf ArrivalDate
                        document.querySelector("#arrivalDate").innerHTML = response.deliveryDate;
                        //packagePrice
                        document.querySelector("#packagePrice").innerHTML = response.packagePrice;
                        //deliveryFreq
                        document.querySelector("#deliveryFreq").innerHTML = response.deliveryFreq;
                        //response = JSON.stringify(response);
                        //adding new class 'show' to sucess element because w wnat show data after we get resonse. show class displays any elemnt.
                        document.querySelector("#success").classList.add('show');
                        //Removing hide class as hide class disappears any element in the document.
                        document.querySelector("#success").classList.remove('hide');
                        //hiding main-container to hide questoinarie to show result of questionaire only.
                        document.querySelector("#main-container").classList.add('hide');
                        //Shoing the paragraph before card on the result that was first hidden.
                        document.querySelector("#YourPackage").style.display = "block";
                    },
                error:
                    function (response) {
                        debugger;
                        alert("Error: " + response);
                    }
            });

   
    })
</script>