@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Stylin!</h1>
    <h3>The website where you can create a profile, take a survey, and be sent amazing clothes that match your style.</h3>
    <p>Register to begin</p>
    <p>Then click 'Discover Your Style' Take the Survey to show us what to send you!</p>
    <p>Keep in mind the more Styles you like the more you will have to pay per month.</p>

</div>
